.bandName {
  border-bottom: 2px solid black;
  padding-bottom: 15px;
}
.delete {
  background: red;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
}
.textWrap {
  word-wrap: break-word;
}
