.delete {
  background: red;
  font-size: 25px;

  padding: 5px;
  border-radius: 10px;
}
.choose {
  font-size: 33px;
}
.textWrap {
  word-wrap: break-word;
}
.input {
  border: 1px solid #000000;
}
