.welcomeForm {
  background: white;
  padding: 30px;
  border-radius: 25px;
}
.cover {
  padding-top: 100px;
 background: grey;
}
.main {
  margin-left: auto;
  margin-right: auto;
}
.registerH3 {
  cursor:pointer;
  color: #99ff00;
  margin-top: 20px;
  transition: 0.3s;
}
.registerH3:hover {
  transform: scale(1.1);
}
