<div class="cover h-100 w-100 row justify-content-center m-0">
  <div class="col-md-10 col-11 main">
    <div class="welcomeForm row justify-content-center ">
      <h1 class="text-center col-12 m-0 p-0 mb-4">Zaloguj się do swojego zespołu</h1>
      <div class="col-md-6 col-11">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nazwa zespołu"
                   formControlName="bandName">
          </div>
          <button type="submit" class="btn btn-warning col-12" (click)="login()">Zaloguj się!</button>
        </form>
      </div>
    </div>
  </div>


</div>


